/*
 * Copyright (c) 2026 BP Keyboard
 * SPDX-License-Identifier: MIT
 *
 * BP分体键盘 - 左键盘 (Central角色)
 * 矩阵: 6行 x 9列
 */

#include "bp_keyboard.dtsi"

/ {
    /* 键盘矩阵扫描定义 */
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        col-gpios
            = <&pro_micro 2 GPIO_ACTIVE_HIGH>   /* COL0   - D1  */
            , <&pro_micro 3 GPIO_ACTIVE_HIGH>    /* COL1   - D0  */
            , <&pro_micro 4 GPIO_ACTIVE_HIGH>    /* COL2   - D4  */
            , <&pro_micro 5 GPIO_ACTIVE_HIGH>    /* COL3   - D5  */
            , <&pro_micro 6 GPIO_ACTIVE_HIGH>    /* COL4   - D6  */
            , <&pro_micro 7 GPIO_ACTIVE_HIGH>    /* COL5   - D7  */
            , <&pro_micro 8 GPIO_ACTIVE_HIGH>    /* COL6   - D8  */
            , <&pro_micro 9 GPIO_ACTIVE_HIGH>    /* COL7   - D9  */
            , <&pro_micro 29 GPIO_ACTIVE_HIGH>   /* COL7+1 - D2  */
            ;

        row-gpios
            = <&pro_micro 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* ROW0 - D10 */
            , <&pro_micro 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* ROW1 - D18 */
            , <&pro_micro 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* ROW2 - D19 */
            , <&pro_micro 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* ROW3 - D20 */
            , <&pro_micro 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* ROW4 - D21 */
            , <&pro_micro 28 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* ROW5 - D3  */
            ;
    };

    /* 键位映射 */
    keymap {
        compatible = "zmk,keymap";

        /* Layer 0: 基础层 LAYER_BASE */
        default_layer {
            label = "BASE";
            bindings = <&kp ESC &kp GRAVE &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7
                        &kp BSPC &kp TAB &kp Q &none &kp W &kp E &kp R &kp T &kp Y
                        &kp RET &kp CAPS &kp A &none &kp S &kp D &kp F &kp G &kp H
                        &tog 4 &kp LSHFT &kp BSLH &kp Z &kp X &kp C &kp V &kp B &kp N
                        &mo 2 &kp LCTRL &kp LGUI &kp LALT &none &kp SPACE &kp SPACE &mo 1 &mo 2
                        &none &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &none>;
        };

        /* Layer 1: 符号/数字层 LAYER_SYMBOLS */
        sym_layer {
            label = "SYMBOLS";
            bindings = <&trans &trans &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7
                        &trans &trans &kp LPAR &kp RPAR &kp SQT &kp DQT &kp MINUS &trans &trans
                        &trans &trans &kp LBKT &kp RBKT &kp SEMI &kp COLON &kp BSLH &trans &trans
                        &tog 4 &trans &kp FSLH &kp LBRC &kp RBRC &kp COMMA &kp DOT &kp UNDER &trans &trans
                        &mo 2 &trans &trans &trans &none &trans &trans &mo 1 &mo 2
                        &none &trans &trans &trans &trans &trans &trans &trans &none>;
        };

        /* Layer 2: 导航/媒体层 LAYER_NAV_MEDIA */
        nav_layer {
            label = "NAV_MEDIA";
            bindings = <&trans &trans &trans &trans &trans &trans &trans &trans &trans
                        &trans &trans &kp HOME &kp UP &kp END &trans &trans &trans &trans
                        &trans &trans &kp LEFT &kp DOWN &kp RIGHT &trans &trans &trans &trans
                        &tog 4 &trans &trans &kp C_VOL_UP &kp C_VOL_DN &kp C_PREV &kp C_PP &kp C_NEXT &trans &trans
                        &mo 2 &trans &trans &trans &none &trans &trans &mo 1 &mo 2
                        &none &trans &trans &trans &trans &trans &trans &trans &none>;
        };

        /* Layer 3: 系统管理层 LAYER_SYSMGR */
        sys_layer {
            label = "SYSMGR";
            bindings = <&trans &trans &trans &trans &trans &trans &trans &trans &trans
                        &studio_unlock &trans &bt BT_PRV &bt BT_NXT &trans &trans &trans &bt BT_CLR &trans
                        &trans &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &trans &trans &trans &trans
                        &tog 4 &trans &out OUT_TOG &bt BT_SEL 3 &bt BT_SEL 4 &trans &trans &trans &trans
                        &mo 2 &trans &trans &trans &none &trans &trans &mo 1 &mo 2
                        &none &trans &trans &trans &trans &trans &trans &trans &none>;
        };

        /* Layer 4: 游戏模式层 LAYER_GAME */
        game_layer {
            label = "GAME";
            bindings = <&trans &trans &trans &trans &trans &trans &trans &trans &trans
                        &tog 0 &trans &trans &trans &trans &trans &trans &trans &trans
                        &trans &trans &trans &trans &trans &trans &trans &trans &trans
                        &tog 0 &kp LSHFT &trans &trans &trans &trans &trans &trans &trans &trans
                        &mo 2 &trans &trans &trans &none &trans &trans &mo 1 &mo 2
                        &none &trans &trans &trans &trans &trans &trans &trans &none>;
        };
    };
};
