# SPDX-License-Identifier: MIT

if SHIELD_BP_KEYBOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "BP Keyboard Left"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_BP_KEYBOARD_RIGHT

config ZMK_KEYBOARD_NAME
    default "BP Keyboard Right"

config ZMK_SPLIT_ROLE_CENTRAL
    default n

endif

# 启用蓝牙
if SHIELD_BP_KEYBOARD_LEFT || SHIELD_BP_KEYBOARD_RIGHT

config ZMK_BLE
    default y

endif
